header{
    display: inline-flex;
width: 1440px;
height: 80px;
}
.img_logo{
    margin-top: 24px;
    margin-left: 120px;
    width: 33px;
    height: 30px;
}
.name_logo{
    margin-top: 27px;
    margin-left: 13px;
    width: 154px;
    height: 29px;
}
ul{
    margin-left: 198px;
    margin-top: 9px;
    display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
}
.product-color{
    margin-top: 9px;
    text-decoration: none;
width: 65px;
height: 28px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #FF9900;
}
.navi-name{
    margin-top: 9px;
    text-decoration: none;
height: 28px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #2F281E;
}
.sign-in{
    margin-top: 17px;
    margin-left: 198px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: absolute;
width: 110px;
height: 46px;
left: 948px;
top: 0px;
border: 1px solid #BCD0E5;
border-radius: 4px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #2F281E;
}
.sign-up{
    margin-top: 17px;
    margin-left: 198px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: absolute;
width: 110px;
height: 46px;
left: 1090px;
top: 0px;
border: 1px solid #FF9900;
background: #FF9900;
border-radius: 4px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;

}
.hero{
    display: flex;
    margin-left: 120px;
    margin-top: 70px;
}
.h-hero{
    padding-top: 97px;
 width: 500px;
height: 110px;
left: 0px;
top: 97px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 54px;
color: #2F281E;
}
.par-hero{
    padding-top: 30px;
width: 500px;
height: 91px;
left: 0px;
top: 237px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #544837;
}
.button-hero{
    margin-top: 20px;
    flex-direction: row;
justify-content: center;
align-items: center;
width: 180px;
height: 50px;
background: #FF9900;
border: 1px solid #FF9900;
border-radius: 4px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}
.people{
    margin-left: 116px;
    margin-top: 70px;
width: 644px;
height: 495px;
left: 556px;
}
.bacg{
    background: url(./img/bg.png) no-repeat center;
    background-size: 100%;   
    height: 520px;
}
.d-features{
display: flex;
}
.h-features{
    margin-left: 455px;
    margin-top: 99px;
    width: 539px;
height: 88px;
left: calc(50% - 539px/2 + 0.5px);
top: calc(50% - 88px/2 - 212px);
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
text-align: center;
color: #2F281E
}
.tests{
   
    padding-left: 120px;
    padding-top: 50px;
    width: 270px;
    height: 175px;
gap: 30px;
}
.im-tests{
    
    width: 51px;
height: 50px;
}
h4{
    height: 27px;
left: 0%;
right: 37.04%;
top: calc(50% - 27px/2 + 6px);
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
color: #2F281E;
}
p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #544837;
}
.but-features{
    margin-left: 685px;
    margin-top: 120px;
    display: flex;
justify-content: center;
align-items: center;
width: 180px;
height: 50px;
border: 1px solid #FF9900;
background: #FF9900;
border-radius: 4px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}
.benefits{
    display: flex;  
    margin-left: 120px;
    margin-top: 100px; 
    width: 1200px;
height: 573px;
left: 120px;
top: 1356px;
}

h2{
display: contents;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: #2F281E;
}
h5{
    padding-top: 40px;
    display: contents;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #2F281E;
}

.img-benefits{
    width: 562px;
height: 573px;
left: 638px;
margin-left: 113px;
}
.text{
    width: 525px;
height: 532px;
top: 20.5px;
}
.product-managers{
    display: flex; 
    width: 1200px;
height: 520px;
 
}
.img-product{
    margin-left: 120px;
    margin-top: 100px;
    width: 570px;
height: 520px;
}
.div-product{
    padding-left: 125px;
    padding-top: 150px;
    width: 505px;
height: 424px;
}
.icon-prod{
    width: 35px;
height: 35px;
padding-right: 30px;
}
.product-list{
    
    gap: 30px;
}
